.team {
    font-family: 'Black Ops One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    
}

.team1 {
    flex: 4;
    text-align: end;
    font-size: 2rem;
}

.team1 p {
    margin: 0;
    padding: 0;
}

.team2 {
    flex: 5;
    font-size: 6rem;
}

.wrapper {
    margin: 10%;

    display: grid;
    max-width: 100%;

    grid-template-columns: 45% 45%;
    grid-gap: 10%;

}

.grid-item h2 {
    margin-bottom: 25%;
    width: 30%;
    padding-left: 5%;
}

.item1 {
    grid-column: 1;
    grid-row: 1 / span 5;
}

.item2 {
    grid-column: 2;
    grid-row: 4 / span 5;
}

.item3 {
    grid-column: 1;
    grid-row: 8 / span 5;
}

.item4 {
    grid-column: 2;
    grid-row: 12 / span 5;
}

.members-image {
    max-width:100%;
    max-height:100%;
    /* filter: grayscale(100%) */
}

.details {
    width: 90%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 5%;
    position: absolute;
    bottom: -20%;
    left: 0;
}

.details h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.img-box {
    position: relative;
    overflow: hidden;
}

.icon {
    position: absolute;
    bottom: 25%;
    right: 10%;
}