.parent {
    overflow-x: hidden;
}

/* .box {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 100px;
} */

.stay-tuned {
    font-family: 'Black Ops One', cursive;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.stay-tuned div {
    font-size: 5rem;
}

.detail-div > h1 {
    text-align: center;
}

.detail-box {
    display: flex;
    justify-content: center;
    line-height: 2;
    /* width: 80%; */
}

.detail-box p, 
.detail-box h2, 
.detail-box h3, 
.detail-box h4 {
    display: inline;
    padding: 10px;
}

.detail-box h2 {
    font-size: 2rem;
}

.detail-box > div {
    width: 50%;
}
/* h3 {
    display: inline;
} */

.contest-grid {
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contest-grid > div {
    margin: 7% auto;

}