@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  margin: 0;
  background-color: #150050;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
