
.background-img {
  background-image: url('../images/ssVS2.jpg');
  width: 100%;
  height: 100%;
  background-color: #222831;
  filter: blur(7px);
  position: absolute;
  z-index: -1;
}


svg text {
    stroke: white;
    font-size: 150px;
    font-weight: 500;
    stroke-width: 3;
    animation: animate 3s;
    font-family: 'Black Ops One', cursive;
  }
  
  
  @keyframes animate {
    0% { 
      stroke-dasharray: 0 50%;
    }
    100% {
      stroke-dasharray: 25% 0;
    }
  }