nav {
    padding: 30px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* position: fixed; */
    /* top: 0;
    left: 0;
    right: 0; */

}

nav > div {
    width: 200px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: black;
}